.img {
    display: block;
    margin: auto;
}
h1 {
    background-color: white;
    font-size: 36px;
    text-align: center;
}
.Ingredients,
.Steps {
    font-size: 14px;
    
}
.Steps {
    list-style-type: decimal;
}
.description {
    font-size: 22px;
    display: block;
    text-align: center;
}
.title {
    padding: 5px;
    text-align: center;
}
li {
    margin-bottom: 8px;
}
ul,
ol {
    text-align: center;
    display: inline-block;
    text-align: left;
}


